.todoform{
  display:flex;
  flex-direction:column;
}
.todoform textarea, .todoform input{
  width:100%;
  min-height: 50px;
  resize: none;
  color:black;
}
.todoform-btn-container{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

.todoform-btn  {}
.todoform-btn--cancel{}
.todoform-btn--add{}
