.TodoSearchContainer{
  display:block;
  position:relative;
  max-width: 550px;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
}
.TodoSearchContainer .Icon{
  position:absolute;
  top:0px;
  bottom:0px;
  padding:17px;
  z-index: 1;
  color:  #979797;
  height: 30px;
  width: 30px;
}
.TodoSearch {
  position:absolute;
  left:0;
  top:0;
  z-index: 0;
  background: #1D1D1D;
  border-radius: 4px;
  border: 1px solid #979797;
  width:100%;
  height:100%;
  font-size: 18px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #A5A5A5;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);

}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #8687E7;
}
